.Header {
  .ant-menu {
    background: #354069;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .ant-menu-item-selected, .ant-menu-item:hover {
    border-bottom: 2px solid #E71A3F;
    color: #fff !important;
  }
  .ant-menu-item {
    color: #ADC2D9;
    a {
      color: #fff
    }
  }
}

.ant-dropdown-menu-flex.ant-dropdown-menu-flex-center.wechat {
  @include clark-box-shadow;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
