.Product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  .charts-menu {
    width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary-color;
    }
  }
  .charts-main {
    width: calc(100vh - 300px);
  }
  .ant-menu-item-selected {
    color: $primary-color;
    background: #f8f8f8 !important;
    &:after {
      border-right: none;
    }
  }
}
