@mixin clark-flex-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin clark-box-shadow($opacity: 0.1) {
  box-shadow: 0 20px 35px rgba(0, 0, 0, $opacity);
}

$primary-color: #39628D;
